<div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if active_page is defined and active_page == 'camera_configuration' %}active{% endif %}">
                <a class="nav-link" href="{{ path('home_page') }}">Configuration</a>
            </li>
            <li class="nav-item {% if active_page is defined and active_page == 'channel' %}active{% endif %}">
                <a class="nav-link" href="{{ path('channel_list') }}">Channel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app.swagger_ui') }}">API documentation</a>
            </li>
        </ul>
        <ul class="navbar-nav pull-right">
            {% if app.user is not null %}
                {{ render(controller('App\\Controller\\LivestreamController::statusStream')) }}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        Logged in - {{ app.user.username }}<span class="caret"></span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('logout') }}">
                            Logout
                        </a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
