{% extends "base.html.twig" %}
{% set active_page = 'camera_configuration' %}
{% block title %}Configuration{% endblock title %}

{% block content %}
    <h2>Configuration</h2>
    {% include 'components/flash.html.twig' %}
    {{ form_start(form) }}
    {% for cameraConfiguration in form.cameraConfiguration %}
        <div class="form-group">
            {{ form_label(cameraConfiguration.value, cameraConfiguration.vars.data.key) }}
            {{ form_widget(cameraConfiguration.value) }}
        </div>
    {% endfor %}
    {{ form_widget(form.submitButton) }}
    {{ form_end(form) }}
{% endblock content %}
